@theme {
  --color-text: oklch(93% 0.01 255.4); /* #e9ebed */
  --color-background: oklch(8% 0.005 255.4); /* #0d0e10 */
  --color-primary: oklch(67% 0.15 255.4); /* #409fff */
  --color-secondary: oklch(0.3 0.0504 241.39); /* #133044 */
}

/* for custom layout */
.cont {
  width: 100dvw;
  height: 90dvh;

  padding: 1.5rem 1rem;
  /* border: 1px solid red; */

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  gap: 0.5rem;
}

.cont .left {
  width: 100%;
  height: 100%;
  margin: auto;

  display: grid;
  grid-template-rows: auto 1fr 1fr 1fr;
  gap: 0.5rem;
}

.cont .right {
  width: 100%;
  height: 100%;
  margin: auto;

  display: grid;
  grid-template-rows: auto 1fr;
  gap: 0.5rem;
}

div.left > div:nth-child(1) {
  /* display: flex;
    justify-content: center;
    align-items: center; */
  padding: 0.35rem;

  height: fit-content;
}

div.left > div:nth-child(2) {
  padding: 0.35rem;
}

div.left > div:nth-child(3) {
  padding: 0.35rem;
}

div.right > div:nth-child(1) {
  height: fit-content;
}

div.right > div:nth-child(2) {
  height: 100%;
}

/* chart area */

/* for custom radio checkbox in chart area */
.container .checkmark {
  @apply bg-text/20;
}

.container:hover .checkmark {
  @apply bg-text/30;
}

.container input:checked ~ .checkmark {
  @apply bg-primary;
}

.container input:checked:hover ~ .checkmark {
  @apply bg-primary/80;
}

.container .checkmark:after {
  content: "";
  @apply absolute hidden;
}

.container input:checked ~ .checkmark:after {
  @apply block;
}

/* chart container */
.chart-container {
  width: 100%;
  height: 80%;
  position: relative;
}

.chart-container svg {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  body {
    overflow: auto;

    height: auto;
    min-height: 100%;
  }

  .chart-container {
    height: 200px;
  }
}

@media screen and (max-width: 900px) {
  section.cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  section.cont > * {
    width: 100%;
    height: auto;
  }

  .cont .left {
    display: grid;
    grid-template-rows: auto auto 1fr 1fr;
    gap: 0.5rem;
  }

  div.left,
  div.right {
    width: 100%;
    height: auto;
    border: none;
    margin: auto;
  }

  div.left > div:nth-child(2) {
    height: 300px;
  }
}

@media screen and (max-width: 1024px) {
  .chart-container {
    height: 300px;
  }
}
